In [11]:
from scipy.stats import chi2_contingency 
import pandas as pd
from scipy.stats import chi2_contingency 
import numpy as np

In [5]:
df= pd.read_csv("merged_df.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19997 entries, 0 to 19996
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               19997 non-null  int64
 1   customer_id              19997 non-null  int64
 2   first_name               19997 non-null  object
 3   last_name                19355 non-null  object
 4   gender                   19997 non-null  object
 5   3y_bike_purchases        19997 non-null  int64
 6   DOB                      19551 non-null  object
 7   job_title                17603 non-null  object
 8   job_industry_category    16768 non-null  object
 9   wealth_segment           19997 non-null  object
 10  deceased_indicator       19997 non-null  object
 11  owns_car                 19997 non-null  object
 12  tenure                   19551 non-null  float64
 13  address                  19968 non-null  object
 14  postcode                 19968 non-null  float64
 15  state                    19968 non-null  object
 16  country                  19968 non-null  object
 17  property_valuation       19968 non-null  float64
 18  Age                      19997 non-null  float64
 19  decade                   19997 non-null  int64
 20  transaction_id           19997 non-null  int64
 21  product_id               19997 non-null  int64
 22  transaction_date         19997 non-null  object
 23  online_order             19997 non-null  bool
 24  order_status             19997 non-null  object
 25  brand                    19800 non-null  object
 26  product_line             19800 non-null  object
 27  product_class            19800 non-null  object
 28  product_size             19800 non-null  object
 29  list_price               19997 non-null  float64
 30  standard_cost            19800 non-null  float64
 31  product_first_sold_date  19800 non-null  float64
dtypes: bool(1), float64(7), int64(6), object(18)
memory usage: 4.7+ MB

In [8]:
chisqt = pandas.crosstab(df.state, df.product_class, margins=True)
print(chisqt)

product_class  high   low  medium    All
state
NSW            1648  1600    7315  10563
QLD             624   602    2996   4222
VIC             740   757    3491   4988
All            3012  2959   13802  19773

In [10]:
chisqt = pandas.crosstab(df.state, df.product_class, margins=True)
value = np.array([chisqt.iloc[0][0:5].values,
                  chisqt.iloc[1][0:5].values])
print(chi2_contingency(value)[0:3])

(4.190480046922958, 0.2416167429550566, 3)